<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- icon trang web -->
    <link rel="icon" href="~/Assets/Img/logo.png" type="image/x-icon">
    <link href="~/Assets/Css/grid.css" rel="stylesheet" />
    <link href="~/Assets/Css/base.css" rel="stylesheet" />
    <link href="~/Assets/Css/user.css" rel="stylesheet" />
    <link href="~/Assets/Css/admin.css" rel="stylesheet" />
    <link href="~/Assets/Font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
</head>
<body>
    <!--all-->
    <header class="header">
        <div class="grid wide">
            <div class="header__list">
                <!-- header logo -->
                <div class="header__logo">
                    <a class="header__logo-link" href="~/Home/Index/@Session["IdTaiKhoan"]">
                        <img class="header__logo-img" src="~/Assets/Img/MewChill.png" alt="Alternate Text" />
                    </a>
                </div>

                <!-- header user -->
                <div class="header__user">
                    <div class="header__user-image">
                        <img class="header__user-img" src="~/Assets/Img/@Session["HinhTaiKhoan"]" alt="name" />
                    </div>

                    <h3 class="header__user-name">Hồ sơ</h3>

                    <!-- sub user -->
                    <nav class="header__sub-user">
                        <ul class="sub-user__navbar">
                            <li class="sub-user__navbar-item active">
                                @Html.ActionLink("Tài khoản", "Details", "Users", new { id = Session["IdTaiKhoan"] }, new { @class = "sub-user__navbar-link" })
                            </li>

                            <li class="sub-user__navbar-item">
                                <a class="sub-user__navbar-link" href="~/Users/Logout">Đăng xuất</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="content-adm">
        <div class="grid wide">
            <div class="row no-gutters">
                <!-- thanh nav bên trái -->
                <div class="col l-3">
                    <!--Dashboard-->
                    <div class="dashboard-admin">
                        <!--Admin infor-->
                        <div class="dashboard-admin-infor">
                            <div class="img-adm">
                                <img id="img-admin" src="~/Assets/Img/@Session["HinhTaiKhoan"]" />
                                <div id="tick-icon-img">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div>
                            <h5>@Session["HoTen"]</h5>
                            <h6>Âm nhạc và Nghệ thuật</h6>
                        </div>
                        <!--Menu-->
                        <div class="dash-adm-menu">
                            <nav class="nav-dash-adm">
                                <ul class="ul-dash-adm">
                                    <!--Analytics-->
                                    <li class="ana-dash-adm active nav__list-item">
                                        <a href="~/Admin/Index" id="ana-adm">
                                            <i class="fa-solid fa-chart-simple"></i>
                                            Phân tích
                                        </a>
                                    </li>
                                    <!--Song-->
                                    <li class="song-dash-adm nav__list-item">
                                        <a href="/Songs/Index" id="song-adm">
                                            <i class="fa-solid fa-music"></i>
                                            Bài hát
                                        </a>

                                    </li>
                                    <!--Artists-->
                                    <li class="art-dash-adm nav__list-item">
                                        <a href="/Singers/Index" id="art-adm">
                                            <i class="fa-solid fa-microphone-lines"></i>
                                            Nghệ sĩ
                                        </a>

                                    </li>
                                    <!--Albums-->
                                    <li class="gen-dash-adm nav__list-item">
                                        <a href="~/Albums/Index" id="alb-adm">
                                            <i class="fa-solid fa-record-vinyl"></i>
                                            Album
                                        </a>
                                    </li>
                                    <!--Genres-->
                                    <li class="gen-dash-adm nav__list-item">
                                        <a href="~/Genreses/Index" id="gen-adm">
                                            <i class="fa-solid fa-icons"></i>
                                            Thể loại
                                        </a>
                                    </li>
                                    <!--Account-->
                                    <li class="acc-dash-adm nav__list-item">
                                        <a href="~/Accounts/Index" id="acc-adm">
                                            <i class="fa-solid fa-users"></i>
                                            Tài khoản người dùng
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--End Dashboard-->
                </div>

                <!-- thanh content bên phải -->
                <div class="col l-9">
                    <div class="div-right">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Assets/Js/admin.js"></script>

</html>
