<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- icon trang web -->
    <link rel="icon" href="~/Assets/Img/logo.png" type="image/x-icon">
    <link href="~/Assets/Font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
    <link href="~/Assets/Css/grid.css" rel="stylesheet" />
    <link href="~/Assets/Css/base.css" rel="stylesheet" />
    <link href="~/Assets/Css/user.css" rel="stylesheet" />
</head>

<body>
    <div class="account-main">
        <!-- header -->
        <header class="header">
            <div class="grid wide">
                <div class="header__list">
                    <!-- header logo -->
                    <div class="header__logo">
                        <a class="header__logo-link" href="~/Home/Index/@Session["IdTaiKhoan"]">
                            <img class="header__logo-img" src="~/Assets/Img/MewChill.png" alt="Alternate Text" />
                        </a>
                    </div>

                    <!-- header user -->
                    <div class="header__user">
                        <div class="header__user-image">
                            <img class="header__user-img" src="~/Assets/Img/@Session["HinhTaiKhoan"]" alt="name" />
                        </div>

                        <h3 class="header__user-name">Hồ sơ</h3>

                        <!-- sub user -->
                        <nav class="header__sub-user">
                            <ul class="sub-user__navbar">
                                <li class="sub-user__navbar-item active">
                                    @*<a class="sub-user__navbar-link" href="Details">Tài khoản</a>*@
                                    @Html.ActionLink("Tài khoản", "Details", "Users", new { id = Session["IdTaiKhoan"] }, new { @class = "sub-user__navbar-link" })
                                </li>

                                @{
                                    var admin = (bool)Session["Admin"];
                                }
                                @if (admin == true)
                                {
                                    <li class="sub-user__navbar-item">
                                        <a class="sub-user__navbar-link" href="~/Admin/Index">Admin</a>
                                    </li>
                                }

                                <li class="sub-user__navbar-item">
                                    <a class="sub-user__navbar-link" href="~/Users/Logout">Đăng xuất</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- content -->
        <div class="content">
            <div class="grid wide">
                <div class="row no-gutters">
                    <!-- bên trái: thanh navbar -->
                    <div class="col l-3 div-left">
                        <!-- image -->
                        <div class="div-image">
                            <div class="div-image__img" style="background-image: url(../../Assets/Img/@Session["HinhTaiKhoan"])"></div>
                        </div>

                        <!-- navigation -->
                        <nav class="nav">
                            <ul class="nav__list">
                                <li class="nav__list-item active">
                                    <a class="nav__list-link" href="~/Users/Details/@Session["IdTaiKhoan"]">
                                        <i class="nav__list-icon fa-solid fa-house-user"></i>
                                        Thông tin tài khoản
                                    </a>
                                </li>

                                <li class="nav__list-item">
                                    <a class="nav__list-link" href="~/Users/Edit/@Session["IdTaiKhoan"]">
                                        <i class="nav__list-icon fa-solid fa-pen-to-square"></i>
                                        Sửa hồ sơ
                                    </a>
                                </li>

                                <li class="nav__list-item">
                                    <a class="nav__list-link" href="~/Users/ChangePassword/@Session["IdTaiKhoan"]">
                                        <i class="nav__list-icon fa-solid fa-lock"></i>
                                        Đổi mật khẩu
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- bên phải: render -->
                    <div class="col l-9 div-right">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>
    </div>
</body>

<!-- script -->
<script src="~/Assets/Js/account.js"></script>
</html>