USE [master]
GO
/****** Object:  Database [QLWebNgheNhac]    Script Date: 2/19/2024 4:29:40 PM ******/
CREATE DATABASE [QLWebNgheNhac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLWebNgheNhac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLWebNgheNhac.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLWebNgheNhac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLWebNgheNhac_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLWebNgheNhac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLWebNgheNhac]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[IdAlbum] [int] IDENTITY(1,1) NOT NULL,
	[TenAlbum] [nvarchar](255) NOT NULL,
	[HinhAlbum] [varchar](255) NULL,
	[IdCaSi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaiHat]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHat](
	[IdBaiHat] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiHat] [nvarchar](255) NOT NULL,
	[LinkBaiHat] [varchar](255) NOT NULL,
	[HinhBaiHat] [varchar](255) NULL,
	[SoLanNghe] [int] NULL,
	[IdCaSi] [int] NULL,
	[IdTheLoai] [int] NULL,
	[IdAlbum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaSi]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaSi](
	[IdCaSi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[GioiThieu] [nvarchar](255) NULL,
	[HinhCaSi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCaSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyPlayList]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyPlayList](
	[IdBaiHat] [int] NOT NULL,
	[IdPlayList] [int] NOT NULL,
	[hihi] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBaiHat] ASC,
	[IdPlayList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayList]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayList](
	[IdPlayList] [int] IDENTITY(1,1) NOT NULL,
	[TenPlayList] [nvarchar](255) NOT NULL,
	[HinhPlayList] [varchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[IdTaiKhoan] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlayList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[IdTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Email] [varchar](50) NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [varchar](11) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayDangKy] [datetime] NULL,
	[CheckTk] [bit] NULL,
	[HinhTaiKhoan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 2/19/2024 4:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[IdTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](255) NOT NULL,
	[HinhTheLoai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([IdAlbum], [TenAlbum], [HinhAlbum], [IdCaSi]) VALUES (3, N'Chơi (Remix)', N'choi-hieuthuhai.jpg', 27)
INSERT [dbo].[Album] ([IdAlbum], [TenAlbum], [HinhAlbum], [IdCaSi]) VALUES (4, N'Tuyển tập nhũng bài rap hay của Karik', N'karik.jpg', 22)
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[BaiHat] ON 

INSERT [dbo].[BaiHat] ([IdBaiHat], [TenBaiHat], [LinkBaiHat], [HinhBaiHat], [SoLanNghe], [IdCaSi], [IdTheLoai], [IdAlbum]) VALUES (2, N'Glimpse Of Us', N'song1.mp3', N'Picture1.jpg', NULL, 8, 4, NULL)
INSERT [dbo].[BaiHat] ([IdBaiHat], [TenBaiHat], [LinkBaiHat], [HinhBaiHat], [SoLanNghe], [IdCaSi], [IdTheLoai], [IdAlbum]) VALUES (3, N'Taki taki', N'Taki Taki - DJ Snake_ Selena Gomez_ Ozun.mp3', N'Picture2.jpg', NULL, 9, 4, 3)
INSERT [dbo].[BaiHat] ([IdBaiHat], [TenBaiHat], [LinkBaiHat], [HinhBaiHat], [SoLanNghe], [IdCaSi], [IdTheLoai], [IdAlbum]) VALUES (4, N'Let Me Down Slowly ', N'LetMeDownSlowly-AlecBenjamin-6360069.mp3', N'Picture3.jpg', NULL, 10, 4, 3)
SET IDENTITY_INSERT [dbo].[BaiHat] OFF
GO
SET IDENTITY_INSERT [dbo].[CaSi] ON 

INSERT [dbo].[CaSi] ([IdCaSi], [HoTen], [NgaySinh], [GioiTinh], [GioiThieu], [HinhCaSi]) VALUES (8, N'Joji', NULL, N'Nam', NULL, N'Picture1.jpg')
INSERT [dbo].[CaSi] ([IdCaSi], [HoTen], [NgaySinh], [GioiTinh], [GioiThieu], [HinhCaSi]) VALUES (9, N'Dj Snake', NULL, N'Nam', NULL, NULL)
INSERT [dbo].[CaSi] ([IdCaSi], [HoTen], [NgaySinh], [GioiTinh], [GioiThieu], [HinhCaSi]) VALUES (10, N'Alec Benjamin', NULL, N'Nam', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CaSi] OFF
GO
INSERT [dbo].[MyPlayList] ([IdBaiHat], [IdPlayList], [hihi]) VALUES (5, 163, N'null')
INSERT [dbo].[MyPlayList] ([IdBaiHat], [IdPlayList], [hihi]) VALUES (8, 157, N'null')
INSERT [dbo].[MyPlayList] ([IdBaiHat], [IdPlayList], [hihi]) VALUES (16, 158, N'null')
GO
SET IDENTITY_INSERT [dbo].[PlayList] ON 

INSERT [dbo].[PlayList] ([IdPlayList], [TenPlayList], [HinhPlayList], [MoTa], [IdTaiKhoan]) VALUES (135, N'Danh sách nhạc của tui #0', N'user_primary.png', NULL, 7)
INSERT [dbo].[PlayList] ([IdPlayList], [TenPlayList], [HinhPlayList], [MoTa], [IdTaiKhoan]) VALUES (157, N'Nhạc của Tuấn Đào', N'hinh-nen-may-tinh-dep-3.jpg', N'Nhạc quá hay', 2)
INSERT [dbo].[PlayList] ([IdPlayList], [TenPlayList], [HinhPlayList], [MoTa], [IdTaiKhoan]) VALUES (158, N'Danh sách nhạc của tôi #1', N'ds.jpg', NULL, 2)
SET IDENTITY_INSERT [dbo].[PlayList] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [Username], [Email], [HoTen], [MatKhau], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [NgayDangKy], [CheckTk], [HinhTaiKhoan]) VALUES (2, N'admin123', N'tunglol123@gmail.com', N'Bùi Thanh Tùng', N'88268826', CAST(N'2023-01-18T00:00:00.000' AS DateTime), N'Nam', N'0909900008', N'Đồng Nai', NULL, 1, N'Picture38.jpg')
INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [Username], [Email], [HoTen], [MatKhau], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [NgayDangKy], [CheckTk], [HinhTaiKhoan]) VALUES (7, N'tuandao8826', N'tuandao8826848@gmail.com', N'Đào Công Tuấn', N'321321', NULL, N'Nam', N'0909900008', N'Hà Nội', CAST(N'2022-11-27T10:16:12.000' AS DateTime), NULL, N'Picture33.jpg')
INSERT [dbo].[TaiKhoan] ([IdTaiKhoan], [Username], [Email], [HoTen], [MatKhau], [NgaySinh], [GioiTinh], [SoDienThoai], [DiaChi], [NgayDangKy], [CheckTk], [HinhTaiKhoan]) VALUES (8, N'anhhao123', N'anhhao@gmail.com', N'Nguyễn Anh Hào', N'123123', NULL, NULL, NULL, NULL, CAST(N'2022-12-01T15:06:00.393' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([IdTheLoai], [TenTheLoai], [HinhTheLoai]) VALUES (3, N'Nhạc Trẻ', NULL)
INSERT [dbo].[TheLoai] ([IdTheLoai], [TenTheLoai], [HinhTheLoai]) VALUES (4, N'US, UK', NULL)
INSERT [dbo].[TheLoai] ([IdTheLoai], [TenTheLoai], [HinhTheLoai]) VALUES (6, N'Nhạc Việt', NULL)
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD FOREIGN KEY([IdCaSi])
REFERENCES [dbo].[CaSi] ([IdCaSi])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([IdAlbum])
REFERENCES [dbo].[Album] ([IdAlbum])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([IdCaSi])
REFERENCES [dbo].[CaSi] ([IdCaSi])
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD FOREIGN KEY([IdTheLoai])
REFERENCES [dbo].[TheLoai] ([IdTheLoai])
GO
ALTER TABLE [dbo].[MyPlayList]  WITH CHECK ADD FOREIGN KEY([IdBaiHat])
REFERENCES [dbo].[BaiHat] ([IdBaiHat])
GO
ALTER TABLE [dbo].[MyPlayList]  WITH CHECK ADD FOREIGN KEY([IdPlayList])
REFERENCES [dbo].[PlayList] ([IdPlayList])
GO
ALTER TABLE [dbo].[PlayList]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([IdTaiKhoan])
GO
USE [master]
GO
