@model WebNgheNhac.Models.TaiKhoan

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="content-main">
    <h2>Đổi mật khẩu của bạn</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();

        <div class="edit">
            <div class="edit__box">
                <label class="edit__box-label" for="crrPassword">Mật khẩu hiện tại</label>
                <input class="edit__box-input" type="password" id="crrPassword" name="crrPassword"/>
            </div>

            <div class="edit__box">
                <label class="edit__box-label" for="newPassword1">Mật khẩu mới</label>
                <input class="edit__box-input" type="password" id="newPassword1" name="newPassword1"/>
            </div>

            <div class="edit__box">
                <label class="edit__box-label" for="newPassword2">Lăp lại mật khẩu mới</label>
                <input class="edit__box-input" type="password" id="newPassword2" name="newPassword2"/>
            </div>
        </div>

        <div class="edit-submit">
            @Html.ActionLink("Hủy", "Details", new { id = Session["IdTaiKhoan"] }, new { @class = "edit-submit__btn" })
            <input class="edit-submit__btn" type="submit" name="name" value="Cài đặt mật khẩu mới" />
        </div>
    }
</div>