@model WebNgheNhac.Models.TheLoai

@{
    ViewBag.Title = "Chi tiết thể loại";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Tổng quan về thể loại</h2>
    <div>
        <div class="info-content">
            <h4>Thể loại</h4>

            <div class="info-box">
                <span class="info-box-title">Tên thể loại</span>
                <span class="info-box-desc">@Model.TenTheLoai</span>
            </div>

            <div class="info-box">
                <span class="info-box-title">Hình thể loại</span>
                <img src="~/Assets/Img/@Model.HinhTheLoai" style="width:15rem;height:15rem" />
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="edit-submit">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "info-btn" })
            </div>
        }
    </div>
</div>

