
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Assets/Css/grid.css" rel="stylesheet" />
    <link href="~/Assets/Css/base.css" rel="stylesheet" />
    <link href="~/Assets/Css/admin.css" rel="stylesheet" />
    <link href="~/Assets/Font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
</head>
<body>

    <div class="btk-main">
        <!--Bảng thống kê-->
        <div class="btk-adm">
            <div class="title-adm">Bảng Thống Kê</div>
            <canvas id="canvas-btk"></canvas>
        </div>

        <div class="ranking">
            <!--Ranking-->
            <div class="rnk-adm">
                <label id="lb-rnk">Bảng xếp hạng</label>
                <i class="fa-solid fa-ranking-star" id="img-icon"></i>
                <p id="date"></p>
            </div>

            <!--Pie chart-->
            <div class="pie-adm">
                <div class="pie-chart-adm">
                    <label id="lb-pie">Top 3 songs</label>
                    <canvas id="canvas-pie" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>


    <!--JS-->
    <script>
        const d = new Date();
        document.getElementById("date").innerHTML = d.toDateString();
    </script>


    <!--About Thong ke-->

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="~/Assets/Js/statistical_table.js"></script>

</html>
